openapi: 3.0.3
info:
  title: Stream API
  version: v100.14.1
servers:
- description: Stream API
  url: https://stream-io-api.com
security:
- JWT: []
  api_key: []
  stream-auth-type: []
- api_key: []
  stream-auth-type: []
paths:
  /video/call/{type}/{id}:
    get:
      description: |2


        Required permissions:
        - ReadCall
      operationId: GetCall
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      - explode: true
        in: query
        name: connection_id
        required: false
        schema:
          type: string
          writeOnly: true
          x-stream-index: "003"
        style: form
      - explode: true
        in: query
        name: members_limit
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 0
          type: integer
          writeOnly: true
          x-stream-index: "004"
        style: form
      - explode: true
        in: query
        name: ring
        required: false
        schema:
          type: boolean
          writeOnly: true
          x-stream-index: "005"
        style: form
      - explode: true
        in: query
        name: notify
        required: false
        schema:
          type: boolean
          writeOnly: true
          x-stream-index: "006"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCallResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get Call
    patch:
      description: |2


        Sends events:
        - call.updated

        Required permissions:
        - UpdateCall
      operationId: UpdateCall
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "002.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "002.002"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCallRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCallResponse'
          description: Call
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update Call
    post:
      description: |
        Gets or creates a new call

        Sends events:
        - call.created
        - call.notification
        - call.ring

        Required permissions:
        - CreateCall
        - ReadCall
        - UpdateCallSettings
      operationId: GetOrCreateCall
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "002.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "002.002"
        style: simple
      - explode: true
        in: query
        name: connection_id
        required: false
        schema:
          type: string
          writeOnly: true
          x-stream-index: "007"
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrCreateCallRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrCreateCallResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get or create a call
  /video/call/{type}/{id}/block:
    post:
      description: |
        Block a user, preventing them from joining the call until they are unblocked.

        Sends events:
        - call.blocked_user

        Required permissions:
        - BlockUser
      operationId: BlockUser
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "002.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "002.002"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUserRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockUserResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Block user on a call
  /video/call/{type}/{id}/event:
    post:
      description: |
        Sends custom event to the call

        Sends events:
        - custom

        Required permissions:
        - SendEvent
      operationId: SendEvent
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "002"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "003"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEventRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEventResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Send custom event
  /video/call/{type}/{id}/go_live:
    post:
      description: |2


        Sends events:
        - call.live_started

        Required permissions:
        - UpdateCall
      operationId: GoLive
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "002.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "002.002"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoLiveRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoLiveResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Set call as live
  /video/call/{type}/{id}/mark_ended:
    post:
      description: |2


        Sends events:
        - call.ended

        Required permissions:
        - EndCall
      operationId: EndCall
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "002.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "002.002"
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndCallResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: End call
  /video/call/{type}/{id}/members:
    post:
      description: |2


        Sends events:
        - call.member_added
        - call.member_removed
        - call.member_updated

        Required permissions:
        - RemoveCallMember
        - UpdateCallMember
        - UpdateCallMemberRole
      operationId: UpdateCallMembers
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "002.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "002.002"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCallMembersRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCallMembersResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update Call Member
  /video/call/{type}/{id}/mute_users:
    post:
      description: |
        Mutes users in a call

        Required permissions:
        - MuteUsers
      operationId: MuteUsers
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "002.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "002.002"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MuteUsersRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteUsersResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Mute users
  /video/call/{type}/{id}/pin:
    post:
      description: |
        Pins a track for all users in the call.

        Required permissions:
        - PinCallTrack
      operationId: VideoPin
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Pin
  /video/call/{type}/{id}/recordings:
    get:
      description: |
        Lists recordings

        Required permissions:
        - ListRecordings
      operationId: ListRecordings
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRecordingsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List recordings
  /video/call/{type}/{id}/start_broadcasting:
    post:
      description: |
        Starts HLS broadcasting

        Required permissions:
        - StartBroadcasting
      operationId: StartHLSBroadcasting
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartHLSBroadcastingResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Start HLS broadcasting
  /video/call/{type}/{id}/start_recording:
    post:
      description: |
        Starts recording

        Sends events:
        - call.recording_started

        Required permissions:
        - StartRecording
      operationId: StartRecording
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRecordingRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartRecordingResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Start recording
  /video/call/{type}/{id}/start_transcription:
    post:
      description: |
        Starts transcription

        Required permissions:
        - StartTranscription
      operationId: StartTranscription
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartTranscriptionRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartTranscriptionResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Start transcription
  /video/call/{type}/{id}/stats/{session}:
    get:
      description: |2


        Required permissions:
        - ReadCallStats
      operationId: GetCallStats
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      - explode: false
        in: path
        name: session
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "003"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCallStatsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get Call Stats
  /video/call/{type}/{id}/stop_broadcasting:
    post:
      description: |
        Stops HLS broadcasting

        Required permissions:
        - StopBroadcasting
      operationId: StopHLSBroadcasting
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopHLSBroadcastingResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Stop HLS broadcasting
  /video/call/{type}/{id}/stop_live:
    post:
      description: |2


        Sends events:
        - call.updated

        Required permissions:
        - UpdateCall
      operationId: StopLive
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          description: The type of call
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "002.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: Call ID
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "002.002"
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopLiveResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Set call as not live
  /video/call/{type}/{id}/stop_recording:
    post:
      description: |
        Stops recording

        Sends events:
        - call.recording_stopped

        Required permissions:
        - StopRecording
      operationId: StopRecording
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopRecordingResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Stop recording
  /video/call/{type}/{id}/stop_transcription:
    post:
      description: |
        Stops transcription

        Sends events:
        - call.transcription_stopped

        Required permissions:
        - StopTranscription
      operationId: StopTranscription
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopTranscriptionResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Stop transcription
  /video/call/{type}/{id}/transcriptions:
    get:
      description: |
        Lists transcriptions

        Required permissions:
        - ListTranscriptions
      operationId: ListTranscriptions
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTranscriptionsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List transcriptions
  /video/call/{type}/{id}/unblock:
    post:
      description: |
        Removes the block for a user on a call. The user will be able to join the call again.

        Sends events:
        - call.unblocked_user

        Required permissions:
        - BlockUser
      operationId: UnblockUser
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          maxLength: 64
          title: Type
          type: string
          writeOnly: true
          x-stream-index: "001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "002"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnblockUserRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnblockUserResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Unblocks user on a call
  /video/call/{type}/{id}/unpin:
    post:
      description: |
        Unpins a track for all users in the call.

        Required permissions:
        - PinCallTrack
      operationId: VideoUnpin
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "001.002"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnpinRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnpinResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Unpin
  /video/call/{type}/{id}/user_permissions:
    post:
      description: |
        Updates user permissions

        Sends events:
        - call.permissions_updated

        Required permissions:
        - UpdateCallPermissions
      operationId: UpdateUserPermissions
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "005.001"
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          type: string
          writeOnly: true
          x-stream-index: "005.002"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPermissionsRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserPermissionsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update user permissions
  /video/call/members:
    post:
      description: |
        Query call members with filter query

        Required permissions:
        - ReadCall
      operationId: QueryMembers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryMembersRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryMembersResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query call members
  /video/calls:
    post:
      description: |
        Query calls with filter query

        Required permissions:
        - ReadCall
      operationId: QueryCalls
      parameters:
      - explode: true
        in: query
        name: connection_id
        required: false
        schema:
          type: string
          writeOnly: true
          x-stream-index: "002"
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryCallsRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCallsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query call
  /video/calltypes:
    get:
      description: |2+

      operationId: ListCallTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCallTypeResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List Call Type
      tags:
      - Server-side
    post:
      description: |2+

      operationId: CreateCallType
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCallTypeRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCallTypeResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create Call Type
      tags:
      - Server-side
  /video/calltypes/{name}:
    delete:
      description: |2+

      operationId: DeleteCallType
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: "001"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete Call Type
      tags:
      - Server-side
    get:
      description: |2+

      operationId: GetCallType
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: "001"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCallTypeResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get Call Type
      tags:
      - Server-side
    put:
      description: |2+

      operationId: UpdateCallType
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: "001"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCallTypeRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCallTypeResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update Call Type
      tags:
      - Server-side
  /video/connect:
    get:
      description: |
        Establishes WebSocket connection for user to video

        Sends events:
        - connection.ok
        - health.check
      operationId: VideoConnect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WSAuthMessageRequest'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Video Connect (WebSocket)
  /video/devices:
    delete:
      description: |
        Deletes one device
      operationId: DeleteDevice
      parameters:
      - explode: true
        in: query
        name: id
        required: false
        schema:
          description: Device ID to delete
          title: ID
          type: string
          writeOnly: true
          x-stream-index: "001"
        style: form
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          description: '**Server-side only**. User ID which server acts upon'
          title: User ID
          type: string
          writeOnly: true
          x-stream-index: "002.001"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete device
    get:
      description: |
        Returns all available devices
      operationId: ListDevices
      parameters:
      - explode: true
        in: query
        name: user_id
        required: false
        schema:
          description: '**Server-side only**. User ID which server acts upon'
          title: User ID
          type: string
          writeOnly: true
          x-stream-index: "001.001"
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDevicesResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List devices
    post:
      description: |
        Adds a new device to a user, if the same device already exists the call will have no effect
      operationId: CreateDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeviceRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create device
  /video/edges:
    get:
      description: |
        Returns the list of all edges available for video calls.
      operationId: GetEdges
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEdgesResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get Edges
  /video/external_storage:
    get:
      description: |
        Lists external storage
      operationId: ListExternalStorage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExternalStorageResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List external storage
      tags:
      - Settings
    post:
      description: |
        Creates new external storage
      operationId: CreateExternalStorage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExternalStorageRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateExternalStorageResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create external storage
      tags:
      - Settings
  /video/external_storage/{name}:
    delete:
      description: |
        Deletes external storage
      operationId: DeleteExternalStorage
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: "002"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteExternalStorageResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete external storage
      tags:
      - Settings
    put:
      description: |2+

      operationId: UpdateExternalStorage
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: "001"
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExternalStorageRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateExternalStorageResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update External Storage
      tags:
      - Server-side
  /video/external_storage/{name}/check:
    get:
      description: |2+

      operationId: CheckExternalStorage
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: "002"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckExternalStorageResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Check External Storage
      tags:
      - Server-side
  /video/guest:
    post:
      description: |2+

      operationId: CreateGuest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuestRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGuestResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create Guest
components:
  schemas:
    APIError:
      example:
        duration: duration
        exception_fields:
          key: exception_fields
        code: 9
        more_info: more_info
        details:
        - 3
        - 3
        message: message
        StatusCode: 7
      nullable: true
      properties:
        StatusCode:
          description: Response HTTP status code
          format: int32
          title: Status code
          type: integer
          x-stream-index: "004"
        code:
          description: API error code
          format: int32
          title: Code
          type: integer
          x-stream-index: "001"
        details:
          description: Additional error-specific information
          items:
            type: integer
          title: Details
          type: array
          x-stream-index: "007"
        duration:
          description: Request duration
          title: Duration
          type: string
          x-stream-index: "005"
        exception_fields:
          additionalProperties:
            type: string
          description: Additional error info
          title: Exception fields
          type: object
          x-stream-index: "003"
        message:
          description: Message describing an error
          title: Message
          type: string
          x-stream-index: "002"
        more_info:
          description: URL with additional information
          title: More info
          type: string
          x-stream-index: "006"
      required:
      - StatusCode
      - code
      - details
      - duration
      - message
      - more_info
      title: Error response
      type: object
    APNS:
      example:
        body: body
        title: title
      properties:
        body:
          type: string
          x-stream-index: "002"
        title:
          type: string
          x-stream-index: "001"
      required:
      - body
      - title
      type: object
    APNSRequest:
      example:
        body: body
        title: title
      properties:
        body:
          type: string
          x-stream-index: "002"
        title:
          type: string
          x-stream-index: "001"
      type: object
    AudioSettings:
      example:
        default_device: speaker
        mic_default_on: true
        speaker_default_on: true
        redundant_coding_enabled: true
        access_request_enabled: true
        opus_dtx_enabled: true
      properties:
        access_request_enabled:
          type: boolean
          x-stream-index: "001"
        default_device:
          enum:
          - speaker
          - earpiece
          type: string
          x-stream-index: "006"
        mic_default_on:
          type: boolean
          x-stream-index: "004"
        opus_dtx_enabled:
          type: boolean
          x-stream-index: "002"
        redundant_coding_enabled:
          type: boolean
          x-stream-index: "003"
        speaker_default_on:
          type: boolean
          x-stream-index: "005"
      required:
      - access_request_enabled
      - default_device
      - mic_default_on
      - opus_dtx_enabled
      - redundant_coding_enabled
      - speaker_default_on
      type: object
    AudioSettingsRequest:
      example:
        default_device: speaker
        mic_default_on: true
        speaker_default_on: true
        redundant_coding_enabled: true
        access_request_enabled: true
        opus_dtx_enabled: true
      properties:
        access_request_enabled:
          type: boolean
          x-stream-index: "001"
        default_device:
          enum:
          - speaker
          - earpiece
          type: string
          x-stream-index: "006"
        mic_default_on:
          type: boolean
          x-stream-index: "004"
        opus_dtx_enabled:
          type: boolean
          x-stream-index: "002"
        redundant_coding_enabled:
          type: boolean
          x-stream-index: "003"
        speaker_default_on:
          type: boolean
          x-stream-index: "005"
      required:
      - default_device
      type: object
    AzureRequest:
      example:
        abs_account_name: abs_account_name
        abs_client_secret: abs_client_secret
        abs_client_id: abs_client_id
        abs_tenant_id: abs_tenant_id
      properties:
        abs_account_name:
          type: string
          x-stream-index: "001"
        abs_client_id:
          type: string
          x-stream-index: "003"
        abs_client_secret:
          type: string
          x-stream-index: "004"
        abs_tenant_id:
          type: string
          x-stream-index: "002"
      required:
      - abs_account_name
      - abs_client_id
      - abs_client_secret
      - abs_tenant_id
      type: object
    BackstageSettings:
      example:
        enabled: true
      properties:
        enabled:
          type: boolean
          x-stream-index: "001"
      required:
      - enabled
      type: object
    BackstageSettingsRequest:
      example:
        enabled: true
      properties:
        enabled:
          type: boolean
          x-stream-index: "001"
      type: object
    BlockUserRequest:
      example:
        user_id: user_id
      nullable: true
      properties:
        user_id:
          description: the user to block
          title: UserID
          type: string
          x-stream-index: "003"
      required:
      - user_id
      type: object
    BlockUserResponse:
      example:
        duration: duration
      nullable: true
      properties:
        duration:
          description: Duration of the request in human-readable format
          title: Duration
          type: string
          x-stream-index: "001.001"
      required:
      - duration
      type: object
    BroadcastSettingsRequest:
      example:
        enabled: true
        hls:
          layout:
            external_app_url: external_app_url
            name: spotlight
            options: "{}"
            external_css_url: external_css_url
          quality_tracks:
          - quality_tracks
          - quality_tracks
          auto_on: true
          enabled: true
      properties:
        enabled:
          type: boolean
          x-stream-index: "001"
        hls:
          $ref: '#/components/schemas/HLSSettingsRequest'
      type: object
    BroadcastSettingsResponse:
      example:
        enabled: true
        hls:
          layout:
            external_app_url: external_app_url
            name: spotlight
            options: "{}"
            external_css_url: external_css_url
          quality_tracks:
          - quality_tracks
          - quality_tracks
          auto_on: true
          enabled: true
      properties:
        enabled:
          type: boolean
          x-stream-index: "001"
        hls:
          $ref: '#/components/schemas/HLSSettingsResponse'
      required:
      - enabled
      - hls
      type: object
    CallEvent:
      example:
        severity: 5
        description: description
        type: type
        timestamp: 5
      nullable: true
      properties:
        description:
          type: string
          x-stream-index: "003"
        severity:
          format: int32
          type: integer
          x-stream-index: "002"
        timestamp:
          format: int32
          type: integer
          x-stream-index: "001"
        type:
          type: string
          x-stream-index: "004"
      required:
      - description
      - severity
      - timestamp
      - type
      type: object
    CallIngressResponse:
      example:
        rtmp:
          address: address
      properties:
        rtmp:
          $ref: '#/components/schemas/RTMPIngress'
      required:
      - rtmp
      title: Call inputs
      type: object
    CallParticipantResponse:
      example:
        joined_at: 2000-01-23T04:56:07.000+00:00
        role: role
        user_session_id: user_session_id
        user:
          image: image
          role: role
          teams:
          - teams
          - teams
          updated_at: 2000-01-23T04:56:07.000+00:00
          custom: "{}"
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          language: language
          id: id
          deleted_at: 2000-01-23T04:56:07.000+00:00
      properties:
        joined_at:
          format: date-time
          type: string
          x-stream-index: "004"
        role:
          type: string
          x-stream-index: "003"
        user:
          $ref: '#/components/schemas/UserResponse'
        user_session_id:
          type: string
          x-stream-index: "002"
      required:
      - joined_at
      - role
      - user
      - user_session_id
      type: object
    CallRecording:
      description: CallRecording represents a recording of a call.
      example:
        start_time: 2000-01-23T04:56:07.000+00:00
        filename: filename
        end_time: 2000-01-23T04:56:07.000+00:00
        url: url
      properties:
        end_time:
          format: date-time
          title: The end time of the recording.
          type: string
          x-stream-index: "004"
        filename:
          title: The filename of the recording.
          type: string
          x-stream-index: "001"
        start_time:
          format: date-time
          title: The start time of the recording.
          type: string
          x-stream-index: "003"
        url:
          title: The URL of the recording.
          type: string
          x-stream-index: "002"
      required:
      - end_time
      - filename
      - start_time
      - url
      type: object
    CallRequest:
      example:
        starts_at: 2000-01-23T04:56:07.000+00:00
        custom: "{}"
        members:
        - role: role
          user_id: user_id
          custom: "{}"
        - role: role
          user_id: user_id
          custom: "{}"
        created_by_id: created_by_id
        team: team
        created_by:
          image: image
          role: role
          teams:
          - teams
          - teams
          custom: "{}"
          name: name
          language: language
          id: id
        settings_override:
          screensharing:
            access_request_enabled: true
            enabled: true
          transcription:
            mode: available
            closed_caption_mode: closed_caption_mode
          ring:
            incoming_call_timeout_ms: 110480
            auto_cancel_timeout_ms: 19014
          backstage:
            enabled: true
          recording:
            layout:
              external_app_url: external_app_url
              name: spotlight
              options: "{}"
              external_css_url: external_css_url
            mode: available
            audio_only: true
            quality: 360p
          audio:
            default_device: speaker
            mic_default_on: true
            speaker_default_on: true
            redundant_coding_enabled: true
            access_request_enabled: true
            opus_dtx_enabled: true
          video:
            camera_facing: front
            target_resolution:
              width: 1547
              bitrate: 879487
              height: 1623
            access_request_enabled: true
            camera_default_on: true
            enabled: true
          thumbnails:
            enabled: true
          geofencing:
            names:
            - names
            - names
          broadcasting:
            enabled: true
            hls:
              layout:
                external_app_url: external_app_url
                name: spotlight
                options: "{}"
                external_css_url: external_css_url
              quality_tracks:
              - quality_tracks
              - quality_tracks
              auto_on: true
              enabled: true
      properties:
        created_by:
          $ref: '#/components/schemas/UserRequest'
        created_by_id:
          title: The id of the user that create this call
          type: string
          x-stream-index: "003"
        custom:
          type: object
          x-stream-index: "004"
        members:
          items:
            $ref: '#/components/schemas/MemberRequest'
          maximum: 100
          type: array
          x-stream-index: "005"
        settings_override:
          $ref: '#/components/schemas/CallSettingsRequest'
        starts_at:
          format: date-time
          type: string
          x-stream-index: "007"
        team:
          type: string
          x-stream-index: "001"
      type: object
    CallResponse:
      description: Represents a call
      example:
        settings:
          screensharing:
            access_request_enabled: true
            enabled: true
          transcription:
            mode: available
            closed_caption_mode: closed_caption_mode
          ring:
            incoming_call_timeout_ms: 1
            auto_cancel_timeout_ms: 6
          backstage:
            enabled: true
          recording:
            layout:
              external_app_url: external_app_url
              name: spotlight
              options: "{}"
              external_css_url: external_css_url
            mode: mode
            audio_only: true
            quality: quality
          audio:
            default_device: speaker
            mic_default_on: true
            speaker_default_on: true
            redundant_coding_enabled: true
            access_request_enabled: true
            opus_dtx_enabled: true
          video:
            camera_facing: front
            target_resolution:
              width: 774
              bitrate: 3577280
              height: 1547
            access_request_enabled: true
            camera_default_on: true
            enabled: true
          thumbnails:
            enabled: true
          geofencing:
            names:
            - names
            - names
          broadcasting:
            enabled: true
            hls:
              layout:
                external_app_url: external_app_url
                name: spotlight
                options: "{}"
                external_css_url: external_css_url
              quality_tracks:
              - quality_tracks
              - quality_tracks
              auto_on: true
              enabled: true
        starts_at: 2000-01-23T04:56:07.000+00:00
        current_session_id: current_session_id
        session:
          participants_count_by_role:
            key: 0
          live_ended_at: 2000-01-23T04:56:07.000+00:00
          accepted_by:
            key: 2000-01-23T04:56:07.000+00:00
          started_at: 2000-01-23T04:56:07.000+00:00
          id: id
          ended_at: 2000-01-23T04:56:07.000+00:00
          live_started_at: 2000-01-23T04:56:07.000+00:00
          participants:
          - joined_at: 2000-01-23T04:56:07.000+00:00
            role: role
            user_session_id: user_session_id
            user:
              image: image
              role: role
              teams:
              - teams
              - teams
              updated_at: 2000-01-23T04:56:07.000+00:00
              custom: "{}"
              name: name
              created_at: 2000-01-23T04:56:07.000+00:00
              language: language
              id: id
              deleted_at: 2000-01-23T04:56:07.000+00:00
          - joined_at: 2000-01-23T04:56:07.000+00:00
            role: role
            user_session_id: user_session_id
            user:
              image: image
              role: role
              teams:
              - teams
              - teams
              updated_at: 2000-01-23T04:56:07.000+00:00
              custom: "{}"
              name: name
              created_at: 2000-01-23T04:56:07.000+00:00
              language: language
              id: id
              deleted_at: 2000-01-23T04:56:07.000+00:00
          rejected_by:
            key: 2000-01-23T04:56:07.000+00:00
        blocked_user_ids:
        - blocked_user_ids
        - blocked_user_ids
        custom: "{}"
        created_at: 2000-01-23T04:56:07.000+00:00
        recording: true
        team: team
        type: type
        created_by:
          image: image
          role: role
          teams:
          - teams
          - teams
          updated_at: 2000-01-23T04:56:07.000+00:00
          custom: "{}"
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          language: language
          id: id
          deleted_at: 2000-01-23T04:56:07.000+00:00
        egress:
          rtmps:
          - name: name
            stream_key: stream_key
            url: url
          - name: name
            stream_key: stream_key
            url: url
          hls:
            playlist_url: playlist_url
          broadcasting: true
        ingress:
          rtmp:
            address: address
        transcribing: true
        updated_at: 2000-01-23T04:56:07.000+00:00
        backstage: true
        id: id
        thumbnails:
          image_url: image_url
        ended_at: 2000-01-23T04:56:07.000+00:00
        cid: cid
      properties:
        backstage:
          type: boolean
          x-stream-index: "015"
        blocked_user_ids:
          items:
            type: string
          type: array
          x-stream-index: "017"
        cid:
          description: The unique identifier for a call (<type>:<id>)
          title: CID
          type: string
          x-stream-index: "004"
        created_at:
          description: Date/time of creation
          format: date-time
          title: Created at
          type: string
          x-stream-index: "009"
        created_by:
          $ref: '#/components/schemas/UserResponse'
        current_session_id:
          type: string
          x-stream-index: "005"
        custom:
          description: Custom data for this object
          title: Custom data
          type: object
          x-stream-index: "008"
        egress:
          $ref: '#/components/schemas/EgressResponse'
        ended_at:
          description: Date/time when the call ended
          format: date-time
          title: Ended At
          type: string
          x-stream-index: "013"
        id:
          description: Call ID
          title: ID
          type: string
          x-stream-index: "003"
        ingress:
          $ref: '#/components/schemas/CallIngressResponse'
        recording:
          type: boolean
          x-stream-index: "011"
        session:
          $ref: '#/components/schemas/CallSessionResponse'
        settings:
          $ref: '#/components/schemas/CallSettingsResponse'
        starts_at:
          description: Date/time when the call will start
          format: date-time
          title: Starts At
          type: string
          x-stream-index: "014"
        team:
          type: string
          x-stream-index: "006"
        thumbnails:
          $ref: '#/components/schemas/ThumbnailResponse'
        transcribing:
          type: boolean
          x-stream-index: "012"
        type:
          description: The type of call
          title: Type
          type: string
          x-stream-index: "002"
        updated_at:
          description: Date/time of the last update
          format: date-time
          title: Updated at
          type: string
          x-stream-index: "010"
      required:
      - backstage
      - blocked_user_ids
      - cid
      - created_at
      - created_by
      - current_session_id
      - custom
      - egress
      - id
      - ingress
      - recording
      - settings
      - transcribing
      - type
      - updated_at
      title: Call
      type: object
    CallSessionResponse:
      example:
        participants_count_by_role:
          key: 0
        live_ended_at: 2000-01-23T04:56:07.000+00:00
        accepted_by:
          key: 2000-01-23T04:56:07.000+00:00
        started_at: 2000-01-23T04:56:07.000+00:00
        id: id
        ended_at: 2000-01-23T04:56:07.000+00:00
        live_started_at: 2000-01-23T04:56:07.000+00:00
        participants:
        - joined_at: 2000-01-23T04:56:07.000+00:00
          role: role
          user_session_id: user_session_id
          user:
            image: image
            role: role
            teams:
            - teams
            - teams
            updated_at: 2000-01-23T04:56:07.000+00:00
            custom: "{}"
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            language: language
            id: id
            deleted_at: 2000-01-23T04:56:07.000+00:00
        - joined_at: 2000-01-23T04:56:07.000+00:00
          role: role
          user_session_id: user_session_id
          user:
            image: image
            role: role
            teams:
            - teams
            - teams
            updated_at: 2000-01-23T04:56:07.000+00:00
            custom: "{}"
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            language: language
            id: id
            deleted_at: 2000-01-23T04:56:07.000+00:00
        rejected_by:
          key: 2000-01-23T04:56:07.000+00:00
      properties:
        accepted_by:
          additionalProperties:
            format: date-time
            type: string
          type: object
          x-stream-index: "007"
        ended_at:
          format: date-time
          type: string
          x-stream-index: "003"
        id:
          type: string
          x-stream-index: "001"
        live_ended_at:
          format: date-time
          type: string
          x-stream-index: "009"
        live_started_at:
          format: date-time
          type: string
          x-stream-index: "008"
        participants:
          items:
            $ref: '#/components/schemas/CallParticipantResponse'
          type: array
          x-stream-index: "004"
        participants_count_by_role:
          additionalProperties:
            format: int32
            type: integer
          type: object
          x-stream-index: "005"
        rejected_by:
          additionalProperties:
            format: date-time
            type: string
          type: object
          x-stream-index: "006"
        started_at:
          format: date-time
          type: string
          x-stream-index: "002"
      required:
      - accepted_by
      - id
      - participants
      - participants_count_by_role
      - rejected_by
      type: object
    CallSettingsRequest:
      example:
        screensharing:
          access_request_enabled: true
          enabled: true
        transcription:
          mode: available
          closed_caption_mode: closed_caption_mode
        ring:
          incoming_call_timeout_ms: 110480
          auto_cancel_timeout_ms: 19014
        backstage:
          enabled: true
        recording:
          layout:
            external_app_url: external_app_url
            name: spotlight
            options: "{}"
            external_css_url: external_css_url
          mode: available
          audio_only: true
          quality: 360p
        audio:
          default_device: speaker
          mic_default_on: true
          speaker_default_on: true
          redundant_coding_enabled: true
          access_request_enabled: true
          opus_dtx_enabled: true
        video:
          camera_facing: front
          target_resolution:
            width: 1547
            bitrate: 879487
            height: 1623
          access_request_enabled: true
          camera_default_on: true
          enabled: true
        thumbnails:
          enabled: true
        geofencing:
          names:
          - names
          - names
        broadcasting:
          enabled: true
          hls:
            layout:
              external_app_url: external_app_url
              name: spotlight
              options: "{}"
              external_css_url: external_css_url
            quality_tracks:
            - quality_tracks
            - quality_tracks
            auto_on: true
            enabled: true
      properties:
        audio:
          $ref: '#/components/schemas/AudioSettingsRequest'
        backstage:
          $ref: '#/components/schemas/BackstageSettingsRequest'
        broadcasting:
          $ref: '#/components/schemas/BroadcastSettingsRequest'
        geofencing:
          $ref: '#/components/schemas/GeofenceSettingsRequest'
        recording:
          $ref: '#/components/schemas/RecordSettingsRequest'
        ring:
          $ref: '#/components/schemas/RingSettingsRequest'
        screensharing:
          $ref: '#/components/schemas/ScreensharingSettingsRequest'
        thumbnails:
          $ref: '#/components/schemas/ThumbnailsSettingsRequest'
        transcription:
          $ref: '#/components/schemas/TranscriptionSettingsRequest'
        video:
          $ref: '#/components/schemas/VideoSettingsRequest'
      type: object
    CallSettingsResponse:
      example:
        screensharing:
          access_request_enabled: true
          enabled: true
        transcription:
          mode: available
          closed_caption_mode: closed_caption_mode
        ring:
          incoming_call_timeout_ms: 1
          auto_cancel_timeout_ms: 6
        backstage:
          enabled: true
        recording:
          layout:
            external_app_url: external_app_url
            name: spotlight
            options: "{}"
            external_css_url: external_css_url
          mode: mode
          audio_only: true
          quality: quality
        audio:
          default_device: speaker
          mic_default_on: true
          speaker_default_on: true
          redundant_coding_enabled: true
          access_request_enabled: true
          opus_dtx_enabled: true
        video:
          camera_facing: front
          target_resolution:
            width: 774
            bitrate: 3577280
            height: 1547
          access_request_enabled: true
          camera_default_on: true
          enabled: true
        thumbnails:
          enabled: true
        geofencing:
          names:
          - names
          - names
        broadcasting:
          enabled: true
          hls:
            layout:
              external_app_url: external_app_url
              name: spotlight
              options: "{}"
              external_css_url: external_css_url
            quality_tracks:
            - quality_tracks
            - quality_tracks
            auto_on: true
            enabled: true
      properties:
        audio:
          $ref: '#/components/schemas/AudioSettings'
        backstage:
          $ref: '#/components/schemas/BackstageSettings'
        broadcasting:
          $ref: '#/components/schemas/BroadcastSettingsResponse'
        geofencing:
          $ref: '#/components/schemas/GeofenceSettings'
        recording:
          $ref: '#/components/schemas/RecordSettingsResponse'
        ring:
          $ref: '#/components/schemas/RingSettings'
        screensharing:
          $ref: '#/components/schemas/ScreensharingSettings'
        thumbnails:
          $ref: '#/components/schemas/ThumbnailsSettings'
        transcription:
          $ref: '#/components/schemas/TranscriptionSettings'
        video:
          $ref: '#/components/schemas/VideoSettings'
      required:
      - audio
      - backstage
      - broadcasting
      - geofencing
      - recording
      - ring
      - screensharing
      - thumbnails
      - transcription
      - video
      type: object
    CallStateResponseFields:
      example:
        call:
          settings:
            screensharing:
              access_request_enabled: true
              enabled: true
            transcription:
              mode: available
              closed_caption_mode: closed_caption_mode
            ring:
              incoming_call_timeout_ms: 1
              auto_cancel_timeout_ms: 6
            backstage:
              enabled: true
            recording:
              layout:
                external_app_url: external_app_url
                name: spotlight
                options: "{}"
                external_css_url: external_css_url
              mode: mode
              audio_only: true
              quality: quality
            audio:
              default_device: speaker
              mic_default_on: true
              speaker_default_on: true
              redundant_coding_enabled: true
              access_request_enabled: true
              opus_dtx_enabled: true
            video:
              camera_facing: front
              target_resolution:
                width: 774
                bitrate: 3577280
                height: 1547
              access_request_enabled: true
              camera_default_on: true
              enabled: true
            thumbnails:
              enabled: true
            geofencing:
              names:
              - names
              - names
            broadcasting:
              enabled: true
              hls:
                layout:
                  external_app_url: external_app_url
                  name: spotlight
                  options: "{}"
                  external_css_url: external_css_url
                quality_tracks:
                - quality_tracks
                - quality_tracks
                auto_on: true
                enabled: true
          starts_at: 2000-01-23T04:56:07.000+00:00
          current_session_id: current_session_id
          session:
            participants_count_by_role:
              key: 0
            live_ended_at: 2000-01-23T04:56:07.000+00:00
            accepted_by:
              key: 2000-01-23T04:56:07.000+00:00
            started_at: 2000-01-23T04:56:07.000+00:00
            id: id
            ended_at: 2000-01-23T04:56:07.000+00:00
            live_started_at: 2000-01-23T04:56:07.000+00:00
            participants:
            - joined_at: 2000-01-23T04:56:07.000+00:00
              role: role
              user_session_id: user_session_id
              user:
                image: image
                role: role
                teams:
                - teams
                - teams
                updated_at: 2000-01-23T04:56:07.000+00:00
                custom: "{}"
                name: name
                created_at: 2000-01-23T04:56:07.000+00:00
                language: language
                id: id
                deleted_at: 2000-01-23T04:56:07.000+00:00
            - joined_at: 2000-01-23T04:56:07.000+00:00
              role: role
              user_session_id: user_session_id
              user:
                image: image
                role: role
                teams:
                - teams
                - teams
                updated_at: 2000-01-23T04:56:07.000+00:00
                custom: "{}"
                name: name
                created_at: 2000-01-23T04:56:07.000+00:00
                language: language
                id: id
                deleted_at: 2000-01-23T04:56:07.000+00:00
            rejected_by:
              key: 2000-01-23T04:56:07.000+00:00
          blocked_user_ids:
          - blocked_user_ids
          - blocked_user_ids
          custom: "{}"
          created_at: 2000-01-23T04:56:07.000+00:00
          recording: true
          team: team
          type: type
          created_by:
            image: image
            role: role
            teams:
            - teams
            - teams
            updated_at: 2000-01-23T04:56:07.000+00:00
            custom: "{}"
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            language: language
            id: id
            deleted_at: 2000-01-23T04:56:07.000+00:00
          egress:
            rtmps:
            - name: name
              stream_key: stream_key
              url: url
            - name: name
              stream_key: stream_key
              url: url
            hls:
              playlist_url: playlist_url
            broadcasting: true
          ingress:
            rtmp:
              address: address
          transcribing: true
          updated_at: 2000-01-23T04:56:07.000+00:00
          backstage: true
          id: id
          thumbnails:
            image_url: image_url
          ended_at: 2000-01-23T04:56:07.000+00:00
          cid: cid
        own_capabilities:
        - null
        - null
        members:
        - role: role
          updated_at: 2000-01-23T04:56:07.000+00:00
          user_id: user_id
          custom: "{}"
          created_at: 2000-01-23T04:56:07.000+00:00
          deleted_at: 2000-01-23T04:56:07.000+00:00
          user:
            image: image
            role: role
            teams:
            - teams
            - teams
            updated_at: 2000-01-23T04:56:07.000+00:00
            custom: "{}"
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            language: language
            id: id
            deleted_at: 2000-01-23T04:56:07.000+00:00
        - role: role
          updated_at: 2000-01-23T04:56:07.000+00:00
          user_id: user_id
          custom: "{}"
          created_at: 2000-01-23T04:56:07.000+00:00
          deleted_at: 2000-01-23T04:56:07.000+00:00
          user:
            image: image
            role: role
            teams:
            - teams
            - teams
            updated_at: 2000-01-23T04:56:07.000+00:00
            custom: "{}"
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            language: language
            id: id
            deleted_at: 2000-01-23T04:56:07.000+00:00
        membership:
          role: role
          updated_at: 2000-01-23T04:56:07.000+00:00
          user_id: user_id
          custom: "{}"
          created_at: 2000-01-23T04:56:07.000+00:00
          deleted_at: 2000-01-23T04:56:07.000+00:00
          user:
            image: image
            role: role
            teams:
            - teams
            - teams
            updated_at: 2000-01-23T04:56:07.000+00:00
            custom: "{}"
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            language: language
            id: id
            deleted_at: 2000-01-23T04:56:07.000+00:00
      properties:
        call:
          $ref: '#/components/schemas/CallResponse'
        members:
          description: List of call members
          items:
            $ref: '#/components/schemas/MemberResponse'
          title: Members
          type: array
          x-stream-index: "002"
        membership:
          $ref: '#/components/schemas/MemberResponse'
        own_capabilities:
          items:
            $ref: '#/components/schemas/OwnCapability'
          type: array
          x-stream-index: "004"
      required:
      - call
      - members
      - own_capabilities
      type: object
    CallTimeline:
      example:
        events:
        - severity: 5
          description: description
          type: type
          timestamp: 5
        - severity: 5
          description: description
          type: type
          timestamp: 5
      properties:
        events:
          items:
            $ref: '#/components/schemas/CallEvent'
          type: array
          x-stream-index: "001"
      required:
      - events
      type: object
    CallTranscription:
      description: CallTranscription represents a transcription of a call.
      example:
        start_time: 2000-01-23T04:56:07.000+00:00
        filename: filename
        end_time: 2000-01-23T04:56:07.000+00:00
        url: url
      properties:
        end_time:
          format: date-time
          title: The end time of the transcription.
          type: string
          x-stream-index: "004"
        filename:
          title: The filename of the transcription.
          type: string
          x-stream-index: "001"
        start_time:
          format: date-time
          title: The start time of the transcription.
          type: string
          x-stream-index: "003"
        url:
          title: The URL of the transcription.
          type: string
          x-stream-index: "002"
      required:
      - end_time
      - filename
      - start_time
      - url
      type: object
    CallTypeResponse:
      example:
        grants:
          key:
          - grants
          - grants
        settings:
          screensharing:
            access_request_enabled: true
            enabled: true
          transcription:
            mode: available
            closed_caption_mode: closed_caption_mode
          ring:
            incoming_call_timeout_ms: 1
            auto_cancel_timeout_ms: 6
          backstage:
            enabled: true
          recording:
            layout:
              external_app_url: external_app_url
              name: spotlight
              options: "{}"
              external_css_url: external_css_url
            mode: mode
            audio_only: true
            quality: quality
          audio:
            default_device: speaker
            mic_default_on: true
            speaker_default_on: true
            redundant_coding_enabled: true
            access_request_enabled: true
            opus_dtx_enabled: true
          video:
            camera_facing: front
            target_resolution:
              width: 774
              bitrate: 3577280
              height: 1547
            access_request_enabled: true
            camera_default_on: true
            enabled: true
          thumbnails:
            enabled: true
          geofencing:
            names:
            - names
            - names
          broadcasting:
            enabled: true
            hls:
              layout:
                external_app_url: external_app_url
                name: spotlight
                options: "{}"
                external_css_url: external_css_url
              quality_tracks:
              - quality_tracks
              - quality_tracks
              auto_on: true
              enabled: true
        updated_at: 2000-01-23T04:56:07.000+00:00
        notification_settings:
          call_live_started:
            apns:
              body: body
              title: title
            enabled: true
          call_ring:
            apns:
              body: body
              title: title
            enabled: true
          session_started:
            apns:
              body: body
              title: title
            enabled: true
          call_notification:
            apns:
              body: body
              title: title
            enabled: true
          enabled: true
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        external_storage: external_storage
      properties:
        created_at:
          format: date-time
          type: string
          x-stream-index: "005"
        external_storage:
          type: string
          x-stream-index: "007"
        grants:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-stream-index: "002"
        name:
          type: string
          x-stream-index: "001"
        notification_settings:
          $ref: '#/components/schemas/NotificationSettings'
        settings:
          $ref: '#/components/schemas/CallSettingsResponse'
        updated_at:
          format: date-time
          type: string
          x-stream-index: "006"
      required:
      - created_at
      - grants
      - name
      - notification_settings
      - settings
      - updated_at
      type: object
    CheckExternalStorageResponse:
      example:
        duration: duration
      nullable: true
      properties:
        duration:
          description: Duration of the request in human-readable format
          title: Duration
          type: string
          x-stream-index: "001.001"
      required:
      - duration
      type: object
    ConnectUserDetailsRequest:
      example:
        image: image
        custom: "{}"
        name: name
        language: language
        id: id
      properties:
        custom:
          type: object
          x-stream-index: "004"
        id:
          type: string
          x-stream-index: "001"
        image:
          type: string
          x-stream-index: "003"
        language:
          type: string
          x-stream-index: "005"
        name:
          type: string
          x-stream-index: "002"
      required:
      - id
      type: object
    Coordinates:
      example:
        latitude: 2.027123
        longitude: 4.145608
      properties:
        latitude:
          format: float
          type: number
          x-stream-index: "001"
        longitude:
          format: float
          type: number
          x-stream-index: "002"
      required:
      - latitude
      - longitude
      type: object
    CreateCallTypeRequest:
      example:
        grants:
          key:
          - grants
          - grants
        settings:
          screensharing:
            access_request_enabled: true
            enabled: true
          transcription:
            mode: available
            closed_caption_mode: closed_caption_mode
          ring:
            incoming_call_timeout_ms: 110480
            auto_cancel_timeout_ms: 19014
          backstage:
            enabled: true
          recording:
            layout:
              external_app_url: external_app_url
              name: spotlight
              options: "{}"
              external_css_url: external_css_url
            mode: available
            audio_only: true
            quality: 360p
          audio:
            default_device: speaker
            mic_default_on: true
            speaker_default_on: true
            redundant_coding_enabled: true
            access_request_enabled: true
            opus_dtx_enabled: true
          video:
            camera_facing: front
            target_resolution:
              width: 1547
              bitrate: 879487
              height: 1623
            access_request_enabled: true
            camera_default_on: true
            enabled: true
          thumbnails:
            enabled: true
          geofencing:
            names:
            - names
            - names
          broadcasting:
            enabled: true
            hls:
              layout:
                external_app_url: external_app_url
                name: spotlight
                options: "{}"
                external_css_url: external_css_url
              quality_tracks:
              - quality_tracks
              - quality_tracks
              auto_on: true
              enabled: true
        notification_settings:
          call_live_started:
            apns:
              body: body
              title: title
            enabled: true
          call_ring:
            apns:
              body: body
              title: title
            enabled: true
          session_started:
            apns:
              body: body
              title: title
            enabled: true
          call_notification:
            apns:
              body: body
              title: title
            enabled: true
          enabled: true
        name: name
        external_storage: external_storage
      nullable: true
      properties:
        external_storage:
          type: string
          x-stream-index: "002.004"
        grants:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-stream-index: "002.001"
        name:
          type: string
          x-stream-index: "001"
        notification_settings:
          $ref: '#/components/schemas/NotificationSettingsRequest'
        settings:
          $ref: '#/components/schemas/CallSettingsRequest'
      required:
      - name
      type: object
    CreateCallTypeResponse:
      example:
        duration: duration
        grants:
          key:
          - grants
          - grants
        settings:
          screensharing:
            access_request_enabled: true
            enabled: true
          transcription:
            mode: available
            closed_caption_mode: closed_caption_mode
          ring:
            incoming_call_timeout_ms: 1
            auto_cancel_timeout_ms: 6
          backstage:
            enabled: true
          recording:
            layout:
              external_app_url: external_app_url
              name: spotlight
              options: "{}"
              external_css_url: external_css_url
            mode: mode
            audio_only: true
            quality: quality
          audio:
            default_device: speaker
            mic_default_on: true
            speaker_default_on: true
            redundant_coding_enabled: true
            access_request_enabled: true
            opus_dtx_enabled: true
          video:
            camera_facing: front
            target_resolution:
              width: 774
              bitrate: 3577280
              height: 1547
            access_request_enabled: true
            camera_default_on: true
            enabled: true
          thumbnails:
            enabled: true
          geofencing:
            names:
            - names
            - names
          broadcasting:
            enabled: true
            hls:
              layout:
                external_app_url: external_app_url
                name: spotlight
                options: "{}"
                external_css_url: external_css_url
              quality_tracks:
              - quality_tracks
              - quality_tracks
              auto_on: true
              enabled: true
        updated_at: 2000-01-23T04:56:07.000+00:00
        notification_settings:
          call_live_started:
            apns:
              body: body
              title: title
            enabled: true
          call_ring:
            apns:
              body: body
              title: title
            enabled: true
          session_started:
            apns:
              body: body
              title: title
            enabled: true
          call_notification:
            apns:
              body: body
              title: title
            enabled: true
          enabled: true
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        external_storage: external_storage
      nullable: true
      properties:
        created_at:
          format: date-time
          type: string
          x-stream-index: "001.005"
        duration:
          type: string
          x-stream-index: "002.001"
        external_storage:
          type: string
          x-stream-index: "001.007"
        grants:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-stream-index: "001.002"
        name:
          type: string
          x-stream-index: "001.001"
        notification_settings:
          $ref: '#/components/schemas/NotificationSettings'
        settings:
          $ref: '#/components/schemas/CallSettingsResponse'
        updated_at:
          format: date-time
          type: string
          x-stream-index: "001.006"
      required:
      - created_at
      - duration
      - grants
      - name
      - notification_settings
      - settings
      - updated_at
      type: object
    CreateDeviceRequest:
      example:
        voip_token: true
        user_id: user_id
        push_provider_name: push_provider_name
        push_provider: firebase
        id: id
        user:
          image: image
          role: role
          teams:
          - teams
          - teams
          custom: "{}"
          name: name
          language: language
          id: id
      nullable: true
      properties:
        id:
          maxLength: 255
          minLength: 1
          type: string
          x-stream-index: "001"
        push_provider:
          enum:
          - firebase
          - apn
          - huawei
          - xiaomi
          type: string
          x-stream-index: "002"
        push_provider_name:
          type: string
[...]
